.labels{
    transition: 0.4s;
    color: black;
    background-color: white;
    border-radius: 7px;
    border-color: lightgrey;
    box-shadow: rgb(170, 170, 170) -5px 5px 0px;
}
.labels:hover{
    background-color: white;
    color: black;
    /* border-width: 100px; */
    border-color:black;
    transform: scale(1.12);
}
label
{
    margin-bottom: 1px;
}
.labels:focus,.labels:active {
    background-color:  white!important;
    color: black !important;
    border-radius: 7px;
    border-color: black !important;
    box-shadow: rgb(170, 170, 170) -5px 5px 0px;
 }

 #error2{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

#error2 > label{
    overflow: hidden;
}
#error{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

#error > label{
    overflow: hidden;
}
#parse{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}


#parse > div{
    overflow: hidden;
}
#parse2{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}


#parse2 > div{
    overflow: hidden;
}

.form-control{
    border-radius: 0.25rem 0rem 0rem 0.25rem;
}
 .labels2{
    transition: 0.4s;
    color: black ;
    /* background-color: rgb(128, 198, 238); */
    background-color: skyblue;
    border-radius: 7px;
    border-color: rgb(122, 169, 249);
    box-shadow: rgb(170, 170, 170) -2px 2px 0px;
}
.labels2:hover{
    background-color: rgb(7, 155, 241);
    color: black;
    /* border-width: 100px; */
    border-color:black;
    transform: scale(1.12);
}

.labels2:focus,.labels2:active {
    background-color:  rgb(0, 0, 0) !important;
    color: white !important;
 }
.res{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    
}
.result-box{
    margin: 5px auto;
    border: 1px solid lightgray;
    padding: 10px;
    max-width: 259px;
    border-radius: 14px;
    margin-left: 0px;
    margin-right: 7px;
}

.delButtonContainer{
    /* position: absolute; */
}
.delButtonLabel2{
    color: lightgray;
    position: absolute;
    text-size-adjust: auto;
    top:0px;
    margin-top: -9px;
    left: 2px;
    height: 10px;
    width: 30px;
}

.delButton{
    transition: 0.4s;
    color: rgb(36, 36, 36) ;
    position: absolute;
    margin-top: -5px;
    margin-right: -5px;
    /* background-color: rgb(128, 198, 238); */
    /* position: relative; */
    background-color: rgb(255, 255, 255);

    border-color: lightgray;
    border-radius: 4px;
    border-color: rgb(207, 202, 202);
    box-shadow: none;
    border: none;
    border: 1px solid lightgray;
    
    /* box-shadow: rgb(170, 170, 170) -2px 2px 0px; */
    width: 12px;
    height: 12px;
    padding: 0px 0px 0px 0px;
    text-align: start;
    /* margin: -5px 15px 0px 0px; */
    top: 0;
    right: 0;

}
.delButton:hover{
    background-color: red;
    transform: scale(1.8);
}
.delButton:active{
    background-color: red;
    
}
.delButton:focus{
    /* border: 1px solid lightgray; */
    outline: none;
}
.delButtonLabel{
    padding: 2px;
    margin: 0px;
    width: 12px;
    height: 12px;
    color: black;
}
#dropdown-basic-button{
    background-color: white;
    color: rgb(63, 63, 63);
    border-color: #ced4da;
    width: 100%;
}
.category-input:active, .category-input:focus, .category-input:focus-visible{
    outline: none;
    border: none !important;
    color: white;

}

@media (min-width: 576px) {
    .container{
      max-width: 1090px;
    }
  }
  